body {
    background-color: #eeeef7;
}

/* Below is the part for header and links options */
header {
    background-color: #31343d;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #31343d;
}

h1 {
    background-color: #92ccce;
    display: inline-block;
    padding: 10px 50px 0 30px;
    margin-left: -20px;
    font-size: 300%;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

nav li {
    list-style-type: none;
}

nav li ul {
    display: inline-block;
    margin: 10px 25px 0 0;
    font-size: 150%;
}

.links {
    color: #92ccce;;
}

/* Style the part of background picture */
#hero {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/my-image.JPG");
    background-size: cover;
    background-position: 0 32%;
}

#hero p {
    background-color: #92ccce;
    width: fit-content;
    height: 15%;
    margin: 0 80px 20px 0;
    padding: 8px 8px 5px 5px;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/* For each section's titles */
.link-title {
    text-align: right;
    flex: 1 0 0;
    float: left;
    width: 18%;
    margin: 0 15px 30px 0;
    font-size: 300%;
    color: #445877;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* For the body part of "About me" introducton */
.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #445877;
    border-left: #445877 solid 5px;
    padding-left: 25px;
}

/* Below are for the design of projects list */
.work-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border-left: #445877 solid 5px;
    margin-bottom: 25px;
    padding: 0 0 10px 25px;
}

.first-work {
    display: flex;
    flex-direction: column;
    width: 825px;
    height: 400px;
    border: #92ccce solid 5px;
    margin: 5px 25px 0 0;
    text-decoration: none;
}

.work {
    display: flex;
    flex-direction: column;
    border: #92ccce solid 5px;
    width: 400px;
    height: 200px;
    margin: 25px 25px 0 0;
    text-decoration: none;
}

/* Style the subtitle and background display of each project */
.work-intro {
    background-color: #92ccce;
    color: #1c1d21;
    width: fit-content;
    margin-top: 30%;
    padding: 5px 5px 5px 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.box-1 {
    background-image: url("../images/project-1.jpg");
    background-size: cover;
    background-position: center;
}

.box-2 {
    background-image: url("../images/project-2.jpg");
    background-size: cover;
    background-position: center;
}

.box-3 {
    background-image: url("../images/project-3.jpg");
    background-size: cover;
    background-position: center;
}

.box-4 {
    background-image: url("../images/project-4.jpg");
    background-size: cover;
    background-position: center;
}

.box-5 {
    background-image: url("../images/project-5.jpg");
    background-size: cover;
    background-position: center;
}

.first-work:hover, .work:hover {
    opacity: 0.6;
}

/* Below are the part for footer of contacts list */
.contact-list ul {
    width: 68%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    border-left: #445877 solid 5px;
    padding: 40px 0 60px 0;
}

.contact-list ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 150%;
}

.contact-list ul li a {
    text-decoration: none;
    color: #1c1d21;
    border-bottom: #445877 solid 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 3px;
}

/* Responsive design for smaller screen devices */
@media screen and (max-width: 812px) {
    nav {
        float: none;
        text-align: center;
    }

    .links {
        font-size: 70%;
    }

    .link-title {
        float: none;
        text-align: center;
        font-size: 200%;
    }

    .content {
        border-top: 5px solid #445877;
        border-left: #eeeef7;
        width: 85%;
        padding-left: 10px;
    }

    .work-list, 
    .contact-list ul {
        border-top: 5px solid #445877;
        border-left: #eeeef7;
        margin-left: 30px;
    }

    .contact-list ul li a {
        font-size: 60%;
    }
}