* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeef7;
}

header {
    background-color: #31343d;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #31343d;
}

h1 {
    background-color: #92ccce;
    display: inline-block;
    padding: 10px 50px 0 30px;
    margin-left: -20px;
    font-size: 300%;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}

nav li {
    list-style-type: none;
}

nav li ul {
    display: inline-block;
    margin: 10px 25px 0 0;
    font-size: 150%;
}

.links {
    color: #92ccce;;
}

#hero {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
}

#hero p {
    background-color: #92ccce;
    width: fit-content;
    height: 15%;
    margin: 0 80px 20px 0;
    padding: 8px 8px 5px 5px;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/* article {
    display: flex;
}  */

.link-title {
    text-align: right;
    flex: 1 0 0;
    float: left;
    width: 18%;
    margin: 0 15px 30px 0;
    /* padding-right: 10px; */
    /* border-right: #445877 solid 5px; */
    font-size: 300%;
    color: #445877;
}

/*.clearfix {
    overflow: auto;
    display: flex;
    margin: 20px 0 30px 0;
    color: #445877;
}*/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #445877;
    border-left: #445877 solid 5px;
    padding-left: 25px;
}

/* .title-height-2 {
    height:860px;
} */

/* section {
    display: flex;
    overflow: auto;
} */

.work-list {
    /*float: left;*/
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border-left: #445877 solid 5px;
    margin-bottom: 25px;
    padding: 0 0 10px 25px;
}

.work {
    display: flex;
    flex-direction: column;
    border: #92ccce solid 5px;
    width: 400px;
    height: 200px;
    margin: 25px 25px 0 0;
    text-decoration: none;
}

.first-work {
    display: flex;
    flex-direction: column;
    width: 825px;
    height: 400px;
    border: #92ccce solid 5px;
    margin: 5px 25px 0 0;
    text-decoration: none;
}

.work-intro {
    background-color: #92ccce;
    color: #1c1d21;
    width: fit-content;
    margin-top: 30%;
    padding: 5px 5px 5px 3px;
}

.box-1 {
    background-image: url("../images/project-1.jpg");
    background-size: cover;
    background-position: center;
}

.box-2 {
    background-image: url("../images/project-2.jpg");
    background-size: cover;
    background-position: center;
}

.box-3 {
    background-image: url("../images/project-3.jpg");
    background-size: cover;
    background-position: center;
}

.box-4 {
    background-image: url("../images/project-4.jpg");
    background-size: cover;
    background-position: center;
}

.box-5 {
    background-image: url("../images/project-5.jpg");
    background-size: cover;
    background-position: center;
}

/* .title-height-3 {
    height: 100px;
} */

/* .contact-list {
    width: 70%;
    /* margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
} */

/* footer {
    display: flex;
} */

.contact-list ul {
    width: 68%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 25px; */
    justify-content: space-around;
    align-content: center;
    border-left: #445877 solid 5px;
    padding: 40px 0 60px 0;
}

.contact-list ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 150%;
}

.contact-list ul li a {
    text-decoration: none;
    color: #1c1d21;
    border-bottom: #445877 solid 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 3px;
}

@media screen and (max-width: 780px) {
    article, section, footer {
        flex-direction: column;
    }

    nav {
        float: none;
        text-align: center;
    }

    .links {
        font-size: 80%;
    }

    .link-title {
        float: none;
        text-align: center;
        font-size: 200%;
    }
    
}